{% extends '_layout.twig' %}

{% block content %}
    {% set admin = adminLevel %}

<div class="container">
    {% if admin == true  %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h6 class="post-title"> Les Commentaires signalés par un lecteurs : </h6>

            {% for warning in warningList %}
               {% if warning.getAnswerId == null %}
                 <a href="{{ HOST }}post.html?postId={{ warning.getPostId() }}" > <p>- Auteur : {{ warning.getAuthor() }} - Contenu : {{ warning.getTopic()|truncate (100,true) | raw }}</p></a>
               {% endif %}
           {% endfor %}
            {% if warningList is empty %}
                <p class ="text-info warningInfo">Pas de commentaire</p>
            {% endif %}
        </div>
    </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h6 class="post-title"> Les réponses aux commentaires signalés par un lecteur : </h6>
                {% for warning in warningList %}
                    {% if warning.getAnswerId != null %}
                        <a href="{{ HOST }}reply.html?comId={{ warning.getAnswerId() }}" > <p>- Auteur : {{ warning.getAuthor() }} - Contenu : {{ warning.getAnswer()|truncate (100,true) | raw }}</p></a>
                    {% endif %}
                {% endfor %}
                {% if warningList is empty %}
                    <p class ="text-info warningInfo">Pas de commentaire</p>
                {% endif %}
            </div>
    </div>

    {% endif %}
    <hr><hr>
   {% for chapter in chapters %}
       {% if chapter.getPostId() != null %}
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="{{ HOST }}post.html?postId={{ chapter.getPostId() }}">

                            <h2 class="post-title">
                                {{ chapter.gettitle() }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ chapter.getcontent()|truncate(100, true)|raw}}
                            </h3>

                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Jean Forteroche</a>
                            {{ chapter.getCreationDate()  }}

                        </p>

                        {% if admin == true  %}
                            <a class="btn btn-link btn-sm" href="{{ HOST }}updatePost.html?postId={{ chapter.getPostId() }}">Modification</a>
                            <a class="btn btn-link btn-sm float-Left" href="{{ HOST }}removePost.html?postId={{ chapter.getPostId() }}">Suppression</a>
                        {% endif %}

                    </div>
                    <hr>
                </div>
        {% endif  %}
    </div>
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
        {% if admin == true  %}
            <a class="btn btn-link btn-sm" href="{{ HOST }}createPost.html">Ajouter un chapitre </a>
        {% endif %}
        <a class="btn btn-primary float-right" href="#">Ancien Post &rarr;</a>
    </div>

</div>
<hr>
{% endblock %}




