{% extends '_layout.twig' %}

{% block content %}
<div class="container">

   {% for chapter in chapters %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{{ HOST }}post.html?idPost={{ chapter.getPostId() }}">

                    <h2 class="post-title">
                        {{ chapter.gettitle() }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ chapter.getcontent()|truncate(100, true)}}
                    </h3>
                </a>
                <p class="post-meta">Posted bys
                    <a href="#">Jean Forteroche</a>
                    {{ chapter.getCreationDate() }}
            </div>
            <hr>


        </div>
    </div>
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Ancien Post &rarr;</a>
    </div>

</div>
<hr>
{% endblock %}




