{% extends '_layout.twig' %}

{% block content %}
    {% set admin = adminLevel %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h3>{{ chapters.getTitle()|raw }} </h3>
              <p>{{ chapters.getContent() |raw }} </p>
          </div>
        </div>
          <div class="row">
              <div class="mx-auto  ">
                  <a  class = "btn btn-primary " href="{{ HOST }}prev.html?postId={{ chapters.getPostId }}" > << </a><a href="" >  </a><a  class = "btn btn-primary " href="{{ HOST }}next.html?postId={{ chapters.getPostId }}"  >>> </a>
              </div>
          </div>

      </div>
    </article>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3>Commentaires</h3>
            {% set idp = comments['id'] %}

            {% for comment in  comments['coms'] %}
                {% if comment.getCommentId != null %}
                    <h6>Auteur : {{ comment.getAuthor()}}   </h6>
                    {% if admin == 1 %}
                       {%  if comment.getModeration %}
                            <p class ="alert-danger moderation" >Post Signalé</p>
                       {%  endif %}
                    {%  endif %}
                    <div class="comment">
                            {{ comment.getCommentContent()|raw }}
                    </div>
                    <div class="comment">

                        <a class=" btn-link btn-sm  " href="{{ HOST }}reply.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Réponses </a>
                        <a class=" btn-link btn-sm  " href="{{ HOST }}setTopicWarning.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Signaler </a>
                        {% if admin == 1 %}
                            <a class=" btn-link btn-sm " href="{{ HOST }}delete.html?comId={{ comment.getCommentId()}}&amp;postId={{ idp }}"> Supprimer </a>
                            <a class=" btn-link btn-sm " href="{{ HOST }}unsetTopicWarning.html?comId={{ comment.getCommentId()}}&amp;postId={{ idp }}"> Annuler le Signalement </a>
                        {% endif %}

                    </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             <form action="{{ HOST }}addComment.html?postId={{ idp }}" method="post">
                 <div>
                     <label for="author">Auteur</label><br />
                     <input type="text" id="author" name="author" />
                 </div>
                 <div>
                     <label for="com">Commentaire</label><br />
                     <textarea id="comment" name="com" ></textarea>
                 </div>
                 <div>
                     <input type="submit" />
                 </div>
             </form>

         </div>
      </div>
    </div>

    <hr>

{% endblock %}