{% extends '_layout.twig' %}

{% block content %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h3>{{ chapters.getTitle()|raw }} </h3>
              <p>{{ chapters.getContent() |raw }} </p>
          </div>
        </div>
          <div class="row">
              <div class="mx-auto  ">
                  <a  class = "btn btn-primary " href="" > << </a><a href="" >  </a><a  class = "btn btn-primary " href="next.html" > >> </a>
              </div>
          </div>

      </div>
    </article>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3>Commentaires</h3>
            {% set idp = comments['id'] %}

            {% for comment in  comments['coms'] %}
                {% if comment.getCommentId != null %}
                    <h6>Auteur : {{ comment.getAuthor()}}  </h6>
                    <div class="comment">
                        {{ comment.getCommentContent()|raw }}
                    </div>

                    <a class=" btn-link btn-sm  " href="{{ HOST }}delete.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Supprimer </a>
                    <a class=" btn-link btn-sm  " href="{{ HOST }}reply.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Réponses </a>
                {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             <form action="{{ HOST }}addComment.html?postId= {{ idp }}" method="post">
                 <div>
                     <label for="author">Auteur</label><br />
                     <input type="text" id="author" name="author" />
                 </div>
                 <div>
                     <label for="com">Commentaire</label><br />
                     <textarea id="comment" name="com" ></textarea>
                 </div>
                 <div>
                     <input type="submit" />
                 </div>
             </form>

         </div>
      </div>
    </div>

    <hr>

{% endblock %}