{% extends '_layout.twig' %}

{% block content %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h3>{{ chapters.getTitle() }} </h3>
              <p>{{ chapters.getContent() }} </p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3>Commentaires</h3>
            {% set idp =comments[0].getPostId() %}
            {% for comment in  comments %}

                    <h6>Auteur : {{ comment.getAuthor()}} </h6>
                    <div class="comment">
                        {{ comment.getCommentContent()}}
                    </div>
            <a class=" btn-link btn-sm float-Left " href="{{ HOST }}delete.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Supprimer </a>
             <a class=" btn-link btn-sm float-Left " href="{{ HOST }}reply.html?comId={{ comment.getCommentId() }}&amp;postId={{ idp }}"> Répondre </a>
            {% endfor %}
        </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">

             <form action="{{ HOST }}addComment.html?postId= {{ idp }}" method="post">
                 <div>
                     <label for="author">Auteur</label><br />
                     <input type="text" id="author" name="author" />
                 </div>
                 <div>
                     <label for="comment">Commentaire</label><br />
                     <textarea id="comment" name="comment"></textarea>
                 </div>
                 <div>
                     <input type="submit" />
                 </div>
             </form>
         </div>
      </div>
    </div>

    <hr>

{% endblock %}